.graficos {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 5%;
  gap: 3rem;
}

.charts {
  width: 45%;
  border: 1px solid darkblue;
  padding: 1rem;
}

